:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  /* Modal Header and body Text*/
  --black: #000;
  /*link, primary background*/
  --primary: #4a86e8;
  --primary--hover: #1155cc;
  /* active is standard, but by following the guide it is called "pressed" */
  --primary--pressed: #1c4587;

  --link--presed: #1155cc;
  --secondary_text--hover: #1155cc;
  --secondary_bg--hover: #e9effb;
  --secondary_text--pressed: #fff;
  --secondary_bg--pressed: #4a86e8;
}
